<!DOCTYPE html>
<html class="ltr" dir="ltr" lang="vi-VN">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<title>Race - HALONG BAY HERITAGE MARATHON - Heritage Marathon</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" href="o/halongTheme/css/bootstrap.min.css">
	<link rel="stylesheet" href="o/halongTheme/css/flaticon.css">
	<link rel="stylesheet" href="o/halongTheme/css/slicknav.css">
	<script>
    	var mDate=new Date();version=mDate.getMilliseconds();
    	document.write("<link rel='stylesheet' href='https://halong.vietnamheritagemarathon.com/o/halongTheme/css/style.css?v=" + version + "'>");
    	document.write("<link rel='stylesheet' href='https://halong.vietnamheritagemarathon.com/o/halongTheme/css/halong.css?v=" + version + "'>");
	</script>
	<link rel="stylesheet" href="o/halongTheme/css/owl.css">
	<link rel="stylesheet" href="o/halongTheme/css/unite-gallery.css" />
	
	<script src="o/halongTheme/js/jquery-1.12.4.min.js"></script>
	<script src="o/halongTheme/js/bootstrap.min.js"></script>
	<script src="o/halongTheme/js/countdown.js"></script>
	<script src="o/halongTheme/js/ug-theme-tiles.js"></script>
		
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
	<link data-senna-track="temporary" href="e4615feb-f073-c27a-0484-a80524512b94.html" rel="canonical" />
	<link data-senna-track="temporary" href="e4615feb-f073-c27a-0484-a80524512b94.html" hreflang="vi-VN" rel="alternate" />
	<link data-senna-track="temporary" href="en/e4615feb-f073-c27a-0484-a80524512b94.html" hreflang="en-US" rel="alternate" />
	<link data-senna-track="temporary" href="e4615feb-f073-c27a-0484-a80524512b94.html" hreflang="x-default" rel="alternate" />
	<meta property="og:locale" content="vi_VN">
	<meta property="og:locale:alternate" content="en_US">
	<meta property="og:locale:alternate" content="vi_VN">
	<meta property="og:site_name" content="HALONG BAY HERITAGE MARATHON">
	<meta property="og:title" content="Race - HALONG BAY HERITAGE MARATHON - Heritage Marathon">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://halong.vietnamheritagemarathon.com/e4615feb-f073-c27a-0484-a80524512b94">

	<link href="o/halongTheme/images/favicon.ico" rel="icon" />
	<link class="lfr-css-file" data-senna-track="temporary" href="o/halongTheme/css/clayc0d6.css?browserId=other&amp;themeId=halongtheme_WAR_halongTheme&amp;minifierType=css&amp;languageId=vi_VN&amp;b=7403&amp;t=1677772344000" id="liferayAUICSS" rel="stylesheet" type="text/css" />
			<link data-senna-track="temporary" href="combof29f.css?browserId=other&amp;minifierType=&amp;themeId=halongtheme_WAR_halongTheme&amp;languageId=vi_VN&amp;b=7403&amp;com_liferay_portal_search_web_search_bar_portlet_SearchBarPortlet_INSTANCE_templateSearch:%2Fcss%2Fmain.css&amp;com_liferay_product_navigation_product_menu_web_portlet_ProductMenuPortlet:%2Fcss%2Fmain.css&amp;com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet:%2Fcss%2Fmain.css&amp;com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet:%2Fcss%2Fmain.css&amp;t=1677772344000" id="8e6cf791" rel="stylesheet" type="text/css" />

	<link class="lfr-css-file" data-senna-track="temporary" href="o/halongTheme/css/mainc0d6.css?browserId=other&amp;themeId=halongtheme_WAR_halongTheme&amp;minifierType=css&amp;languageId=vi_VN&amp;b=7403&amp;t=1677772344000" id="liferayThemeCSS" rel="stylesheet" type="text/css" />
	<link href="o/commerce-frontend-js/styles/main.css" rel="stylesheet"type="text/css" />
	<link rel="stylesheet" href="./o/halongTheme/css/login.css">
	<link rel="stylesheet" href="./o/halongTheme/css/style_2.css">
	<link rel="stylesheet" href="./o/halongTheme/css/responsive_2.css">
</head>

<body>
<header id="menu-header" class="sub-portal-header">
	<div class="header-area">
		<div class="main-header header-sticky">
			<div class="container-fluid">
				<div class="menu-wrapper">
					<!-- Logo -->
					<div class="logo" style="margin-left: 30px;">
						<a href="http://vietnamheritagemarathon.com/"><img src="http://vietnamheritagemarathon.com/image/layout_set_logo?img_id=976690" alt="Race - HALONG BAY HERITAGE MARATHON - Heritage Marathon"></a>
					</div>
					<!-- Main-menu -->
					<div class="main-menu d-none d-lg-block">
						<nav>                                                
							<ul id="navigation">
									<li>
										<a href="http://vietnamheritagemarathon.com/home" >Trang chủ</a>
									</li>
									<li>
										<a href="https://credential.vietnamheritagemarathon.com/" >Về chúng tôi</a>
									</li>
									<li>
										<a href="http://vietnamheritagemarathon.com/races" >Các cuộc đua</a>
										<ul class="submenu">
												<li>
												<a href="http://vietnamheritagemarathon.com/hanoi" >GIẢI MARATHON QUỐC TẾ DI SẢN HÀ NỘI</a>
												</li>
												<li>
												<a href="http://vietnamheritagemarathon.com/halong" >GIẢI MARATHON QUỐC TẾ DI SẢN HẠ LONG</a>
												</li>
												<li>
												<a href="http://vietnamheritagemarathon.com/cantho" >GIẢI MARATHON QUỐC TẾ DI SẢN CẦN THƠ</a>
												</li>
												<li>
												<a href="http://vietnamheritagemarathon.com/vietnam-airlines" >VIETNAM AIRLINES - RUN FOR LOVE 2023</a>
												</li>
										</ul>
									</li>
									<li>
										<a href="http://vietnamheritagemarathon.com/travel-tours" >Du lịch</a>
									</li>
									<li>
										<a href="http://vietnamheritagemarathon.com/volunteer" >Tình nguyện viên</a>
									</li>
									<li>
										<a href="http://vietnamheritagemarathon.com/blogs" >Blogs</a>
									</li>
									<li>
										<a href="http://vietnamheritagemarathon.com/contact" >Liên hệ</a>
									</li>
							</ul>
						</nav>
					</div>
					<!-- Header Right -->
					<div class="header-right">
						<ul>
							<li>
								<div class="pull-right language-bar">
									<a href="en/e4615feb-f073-c27a-0484-a80524512b94.html" title="English">EN</a>
								</div>
							</li>
							<li>
								<div title="Đăng nhập">
									<div class="portlet-boundary portlet-boundary_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_  portlet-static portlet-static-end decorate portlet-user-personal-bar " id="p_p_id_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_">
										<span id="p_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet"></span>
										<span class="sign-in text-default" role="presentation">
											<a href="en/e4615feb-f073-c27a-0484-a80524512b949d05.html?p_l_id=128" class="sign-in text-default" id="_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_qfkd____" data-redirect="false" ><svg aria-hidden="true" class="lexicon-icon lexicon-icon-user" focusable="false" ><use href="o/halongTheme/images/clay/icons.svg#user"></use></svg><span class="taglib-icon-label">Đăng nhập</span></a>
										</span>
									</div>
								</div>
								<!--<div class="sign_in">
									<div class="menuText">
										<a href="https://halong.vietnamheritagemarathon.com/c/portal/login" rel="nofollow" data-redirect="false" id="sign_in" class="sign_in_custom" ">
											<span class="flaticon-user" style="margin-left: 10px;"></span>
										</a>
									</div>
								</div>-->
							</li>
							<li>
								<a href="http://vietnamheritagemarathon.com/search" title="Tìm kiếm">
									<div class="nav-search search-switch">
										<span class="flaticon-search"></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Mobile Menu -->
				<div class="col-12">
					<div class="mobile_menu d-block d-lg-none"></div>
				</div>
			</div>
		</div>
	</div>
</header><!--BEGIN SUB MENU-->
<header id="sub-menu-header">
	<div class="header-area">
		<div class="main-header header-sticky">
			<div class="container-fluid">
				<!--BEGIN SUB MENU-->
				<div class="menu-wrapper">
					<!-- Logo -->
					<div class="logo" style="margin-left: 30px;">
						<a href="index.html" title="HALONG BAY HERITAGE MARATHON">
						    <img src="image/layout_set_logoac7e.png?img_id=40654&amp;t=1702083699630" alt="" />
						</a>
					</div>
					<!-- Sub-menu -->
					<div class="main-menu d-none d-lg-block">
						<nav class="sub-nav">                                                
							<ul id="sub-navigation">  
								<li class="">
									<a href="en/home.html" class="text-white" >TRANG CHỦ</a>										
								</li>
								<li class="">
									<a href="en/overview.html" class="text-white" >TỔNG QUAN</a>										
								</li>
								<li class="">
									<a href="en/race-info.html" class="text-white" >VỀ CUỘC ĐUA</a>										
								</li>
								<li class="">
									<a href="en/results.html" class="text-white" >KẾT QUẢ</a>										
								</li>
								<li class="">
									<a href="en/gallery.html" class="text-white" >THƯ VIỆN</a>										
								</li>
								<li class="">
									<a href="en/training.html" class="text-white" >LUYỆN TẬP</a>										
								</li>
								<li class="">
									<a href="en/news.html" class="text-white" >TIN TỨC</a>										
								</li>
								<li class="">
									<a href="en/charity.html" class="text-white" >TỪ THIỆN</a>										
								</li>
								<li class="">
									<a href="en/sponsor-expo.html" class="text-white" >TÀI TRỢ VÀ TRIỂN LÃM</a>										
								</li>
								<li class="">
									<a href="en/policy.html" class="text-white" >CHÍNH SÁCH</a>										
								</li>
							</ul>
						</nav>
					</div>
					<!-- Header Right -->
					<div class="header-right">						
						<div class="register">
							<a href="https://halong.vietnamheritagemarathon.com/registration">ĐĂNG KÝ</a>
						</div>
					</div>
				</div>
				<!-- Mobile Menu -->
				<div class="col-12">
					<div class="sub_mobile_menu d-block d-lg-none"></div>
				</div>
			</div>
		</div>
	</div>
</header>	
<!-- Header End -->
<!-- Page Content-->
<main>
	<section class="register-primary">
		<div class="auth-wrapper">
			<div class="container">
				<div class="row no-gutters">
					<div class="auth-form">
						<ul class="nav">
							<li class="nav-item active" id="tab-1">
								<a href="#">Đăng nhập</a>
							</li>
							<li class="nav-item" id="tab-2">
								<a href="#">Đăng ký tài khoản</a>
							</li>
						</ul>
						<p>Đăng nhập với tài khoản mạng xã hội</p>
						<div class="login-socials">
							<div class="google-login">
								<img src="./o/halongTheme/images/icon-google.png"> Google
							</div>
						</div>
						<!-- pane -->
						<div class="chang-pane">
							<!-- pane-item -->
							<div class="pane-item active" id="pane-1">
								<p class="text-line-through text-center">
									<span class="ng-scope">hoặc đăng nhập với</span>
								</p>
								<div>
									<div class="form-tabs">
										<div class="btn btn-default white hover-normal un-pointer active" >
											<img class="icon-email" src="./o/halongTheme/images/icon-email.png" alt=""> Địa chỉ Email
										</div>
									</div>
									<form novalidate="" name="authForm" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern">
											<div class="ng-scope">
												<div class="form-group">
													<label>Email</label>
													<div class="input-icon">
														<input class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern" name="email" type="email" required="" ng-pattern="/^([a-zA-Z0-9_\-\.\+]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/"> 
														<img class="icon-email icon-posi" src="./o/halongTheme/images/icon-email.png" alt="">
													</div>
													<p class="help-block text-small ng-hide">Vui lòng nhập đúng email</p>
												</div>
												<div class="row no-gutters">
													<div class="form-group col-flex">
														<label>Mật khẩu</label>
														<div class="input-icon js__showPassContainer">
															<input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" type="password" name="ipPwd" id="ipPwd" required="" ng-pattern="/.{8}/"> 
															<img class="icon-email icon-posi hide-pass" src="./o/halongTheme/images/eye-slash.svg" alt="">
															<img class="icon-email icon-posi show-pass" src="./o/halongTheme/images/eye.svg" alt="">
														</div>
														<p class="help-block text-small ng-hide">Vui lòng nhập mật khẩu gồm ít nhất 8 kí tự</p>
													</div>
												</div>
												<p class="text-alert bg-danger ng-hide ng-binding"></p>
												<button type="button" class="btn btn-default hover-normal secondary btn-fullw btn-large">
													<span class="ng-scope">Đăng nhập</span>
												</button>
												<p style="margin-top: 5px">
													<label class="text-small text-gray">
														<input type="checkbox" name="checkSubscribe" checked ng-model="c.authInfo.checkSubscribe" class="ng-pristine ng-untouched ng-valid ng-not-empty"> Tôi muốn nhận các thông tin về chương trình ưu đãi và khuyến mãi đặc biệt từ TimVe365.
													</label>
												</p>
											</div>
									</form>
								</div>
								<div class="auth-help-tools ng-scope">
									<a class="pull-left text-blue-337" href="#">Quên mật khẩu?</a>
								</div>
							</div>
							<!-- end pane-item -->
							<!-- pane-item -->
							<div class="pane-item" id="pane-2">
								<p class="text-line-through text-center">
									<span class="ng-scope">hoặc đăng ký với</span>
								</p>
								<div>
									<div class="form-tabs">
										<div class="btn btn-default white un-pointer hover-normal active" type="button">
											<img class="icon-email icon-posi" src="./o/halongTheme/images/icon-email.png" alt=""> Địa chỉ Email
										</div>
									</div>
									<form novalidate="" name="authForm" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern ng-valid-date ng-valid-mask">
										<div class="ng-scope">
											<div class="form-group">
												<label>Email</label>
												<div class="input-icon">
													<input class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern" name="email" type="email" required="" ng-pattern="/^([a-zA-Z0-9_\-\.\+]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/"> 
													<img class="icon-email icon-posi" src="./o/halongTheme/images/icon-email.png" alt="">
												</div>
												<p class="help-block text-small ng-hide">Vui lòng nhập đúng email</p>
											</div>
											<div class="row no-gutters">
												<div class="form-group col-flex">
													<label>Mật khẩu</label>
													<div class="input-icon js__showPassContainer">
														<input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" type="password" name="ipPwd" id="ipPwd" required="" ng-pattern="/.{8}/"> 
														<img class="icon-email icon-posi hide-pass" src="./o/halongTheme/images/eye-slash.svg" alt="">
														<img class="icon-email icon-posi show-pass" src="./o/halongTheme/images/eye.svg" alt="">
													</div>
													<p class="help-block text-small ng-hide">Vui lòng nhập mật khẩu gồm ít nhất 8 kí tự</p>
												</div>
												<div class="form-group col-flex ng-scope">
													<label>Xác nhận mật khẩu</label>
													<div class="input-icon js__showPassContainer">
														<input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" type="password" name="ipPwdConfirm" required=""> 
														<img class="icon-email icon-posi hide-pass" src="./o/halongTheme/images/eye-slash.svg" alt="">
														<img class="icon-email icon-posi show-pass" src="./o/halongTheme/images/eye.svg" alt="">
													</div>
													<p class="help-block text-small ng-hide">Mật khẩu xác nhận không đúng</p>
												</div>
											</div>
											<div class="ng-scope">
												<div class="form-group">
													<label>Tên đầy đủ</label> 
													<input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="fullName" type="text" required="">
													<p class="help-block text-small ng-hide">Vui lòng nhập tên đầy đủ</p>
												</div>
												<div class="form-group">
													<label>Ngày sinh</label>
													<date-input name="birthday" required="" class="ng-pristine ng-untouched ng-isolate-scope ng-empty ng-invalid ng-invalid-required">
														<div class="date-input">
															<input class="form-control ng-pristine ng-untouched ng-isolate-scope ng-empty ng-valid-date ng-invalid ng-invalid-required ng-valid-mask" name="birthday_pkr" ng-required="required" uib-datepicker-popup="ddMMyyyy" is-open="picker.opened" datepicker-options="_dateOptions" show-button-bar="false" ui-mask="99/99/9999" ng-click="openPicker()" ng-change="setValue()" required="required" placeholder="__/__/____">
															<div class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
															</div>
														</div>
													</date-input>
												</div>
												<div class="form-group">
													<label class="radio-inline ng-binding ng-scope">
														<input type="radio" name="gender" required="" value="Nam" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"> Nam
													</label>
													<label class="radio-inline ng-binding ng-scope">
														<input type="radio" name="gender" required="" value="Nữ" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"> Nữ
													</label>
												</div>
												<div class="form-group row no-gutters">
													<div class="col-4">
														<select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">
															<option value="" selected="selected">Tỉnh/Thành phố</option>
															<option class="ng-binding ng-scope" value="object:18">An Giang</option>
															<option class="ng-binding ng-scope" value="object:19">Bà Rịa - Vũng Tàu</option>
															<option class="ng-binding ng-scope" value="object:20">Bình Dương</option>
															<option class="ng-binding ng-scope" value="object:21">Bình Định</option>
															<option class="ng-binding ng-scope" value="object:22">Bình Phước</option>
															<option class="ng-binding ng-scope" value="object:23">Bình Thuận</option>
															<option class="ng-binding ng-scope" value="object:24">Bạc Liêu</option>
															<option class="ng-binding ng-scope" value="object:25">Bắc Giang</option>
															<option class="ng-binding ng-scope" value="object:26">Bắc Kạn</option>
															<option class="ng-binding ng-scope" value="object:27">Bắc Ninh</option>
															<option class="ng-binding ng-scope" value="object:28">Bến Tre</option>
															<option class="ng-binding ng-scope" value="object:29">Cà Mau</option>
															<option class="ng-binding ng-scope" value="object:30">Cao Bằng</option>
															<option class="ng-binding ng-scope" value="object:31">Cần Thơ</option>
															<option class="ng-binding ng-scope" value="object:32">Đà Nẵng</option>
															<option class="ng-binding ng-scope" value="object:33">Điện Biên</option>
															<option class="ng-binding ng-scope" value="object:34">Đắk Lắk</option>
															<option class="ng-binding ng-scope" value="object:35">Đắk Nông</option>
															<option class="ng-binding ng-scope" value="object:36">Đồng Nai</option>
															<option class="ng-binding ng-scope" value="object:37">Đồng Tháp</option>
															<option class="ng-binding ng-scope" value="object:38">Gia Lai</option>
															<option class="ng-binding ng-scope" value="object:39">Hà Giang</option>
															<option class="ng-binding ng-scope" value="object:40">Hà Nam</option>
															<option class="ng-binding ng-scope" value="object:41">Hà Nội</option>
															<option class="ng-binding ng-scope" value="object:42">Hà Tĩnh</option>
															<option class="ng-binding ng-scope" value="object:43">Hoà Bình</option>
															<option class="ng-binding ng-scope" value="object:44">Hưng Yên</option>
															<option class="ng-binding ng-scope" value="object:45">Hải Dương</option>
															<option class="ng-binding ng-scope" value="object:46">Hải Phòng</option>
															<option class="ng-binding ng-scope" value="object:47">Hậu Giang</option>
															<option class="ng-binding ng-scope" value="object:48">Hồ Chí Minh</option>
															<option class="ng-binding ng-scope" value="object:49">Khánh Hòa</option>
															<option class="ng-binding ng-scope" value="object:50">Kiên Giang</option>
															<option class="ng-binding ng-scope" value="object:51">Kon Tum</option>
															<option class="ng-binding ng-scope" value="object:52">Lai Châu</option>
															<option class="ng-binding ng-scope" value="object:53">Lâm Đồng</option>
															<option class="ng-binding ng-scope" value="object:54">Lào Cai</option>
															<option class="ng-binding ng-scope" value="object:55">Long An</option>
															<option class="ng-binding ng-scope" value="object:56">Lạng Sơn</option>
															<option class="ng-binding ng-scope" value="object:57">Nam Định</option>
															<option class="ng-binding ng-scope" value="object:58">Nghệ An</option>
															<option class="ng-binding ng-scope" value="object:59">Ninh Bình</option>
															<option class="ng-binding ng-scope" value="object:60">Ninh Thuận</option>
															<option class="ng-binding ng-scope" value="object:61">Phú Thọ</option>
															<option class="ng-binding ng-scope" value="object:62">Phú Yên</option>
															<option class="ng-binding ng-scope" value="object:63">Quảng Bình</option>
															<option class="ng-binding ng-scope" value="object:64">Quảng Nam</option>
															<option class="ng-binding ng-scope" value="object:65">Quảng Ngãi</option>
															<option class="ng-binding ng-scope" value="object:66">Quảng Ninh</option>
															<option class="ng-binding ng-scope" value="object:67">Quảng Trị</option>
															<option class="ng-binding ng-scope" value="object:68">Sóc Trăng</option>
															<option class="ng-binding ng-scope" value="object:69">Sơn La</option>
															<option class="ng-binding ng-scope" value="object:70">Tây Ninh</option>
															<option class="ng-binding ng-scope" value="object:71">Thái Bình</option>
															<option class="ng-binding ng-scope" value="object:72">Thái Nguyên</option>
															<option class="ng-binding ng-scope" value="object:73">Thanh Hóa</option>
															<option class="ng-binding ng-scope" value="object:74">Thừa Thiên Huế</option>
															<option class="ng-binding ng-scope" value="object:75">Tiền Giang</option>
															<option class="ng-binding ng-scope" value="object:76">Trà Vinh</option>
															<option class="ng-binding ng-scope" value="object:77">Tuyên Quang</option>
															<option class="ng-binding ng-scope" value="object:78">Vĩnh Long</option>
															<option class="ng-binding ng-scope" value="object:79">Vĩnh Phúc</option>
															<option class="ng-binding ng-scope" value="object:80">Yên Bái</option>
														</select>
													</div>
													<div class="col-4">
														<select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">
															<option value="" selected="selected">Quận/Huyện</option>
														</select>
													</div>
													<div class="col-4">
														<select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">
															<option value="" selected="selected">Phường/Xã</option>
														</select>
													</div>
												</div>
											</div>
											<p class="text-alert bg-danger ng-hide ng-binding"></p>
											<button type="button" class="btn btn-default hover-normal secondary btn-fullw btn-large">
												<span class="ng-scope">Đăng ký</span>
											</button>
											<p style="margin-top: 5px">
												<label class="text-small text-gray">
													<input type="checkbox" checked name="checkSubscribe" class="ng-pristine ng-untouched ng-valid ng-not-empty"> 
													Tôi muốn nhận các thông tin về chương trình ưu đãi và khuyến mãi đặc biệt từ TimVe365.
												</label>
											</p>
										</div>
									</form>
								</div>
							</div>
							<!-- end pane-item -->
						</div>
						<!-- end pane -->
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- Footer-->
<footer id="footer" class="py-5 bg-dark">
    <div class="footer-info">
    <h3 class="logo-text" >Heritage Marathon</h3>
	<p class="copyright" >
		© Copyright 2023. Phát triển bởi DHA Vietnam
	</p>
    </div>
</footer>

<script src="o/halongTheme/js/jquery.slicknav.min.js"></script>
<script src="o/halongTheme/js/home.js"></script>
<script src="o/halongTheme/js/owl-carousel.js"></script>
<script src="o/halongTheme/js/custom.js"></script>
<!--MEDIA GALLERY-->	
<script src="o/halongTheme/js/unite/ug-common-libraries.js"></script>	
<script src="o/halongTheme/js/unite/ug-functions.js"></script>
<script src="o/halongTheme/js/unite/ug-thumbsgeneral.js"></script>
<script src="o/halongTheme/js/unite/ug-thumbsstrip.js"></script>
<script src="o/halongTheme/js/unite/ug-touchthumbs.js"></script>
<script src="o/halongTheme/js/unite/ug-panelsbase.js"></script>
<script src="o/halongTheme/js/unite/ug-strippanel.js"></script>
<script src="o/halongTheme/js/unite/ug-gridpanel.js"></script>
<script src="o/halongTheme/js/unite/ug-thumbsgrid.js"></script>
<script src="o/halongTheme/js/unite/ug-tiles.js"></script>
<script src="o/halongTheme/js/unite/ug-tiledesign.js"></script>
<script src="o/halongTheme/js/unite/ug-avia.js"></script>
<script src="o/halongTheme/js/unite/ug-slider.js"></script>
<script src="o/halongTheme/js/unite/ug-sliderassets.js"></script>
<script src="o/halongTheme/js/unite/ug-touchslider.js"></script>
<script src="o/halongTheme/js/unite/ug-zoomslider.js"></script>	
<script src="o/halongTheme/js/unite/ug-video.js"></script>
<script src="o/halongTheme/js/unite/ug-gallery.js"></script>
<script src="o/halongTheme/js/unite/ug-lightbox.js"></script>
<script src="o/halongTheme/js/unite/ug-carousel.js"></script>
<script src="o/halongTheme/js/unite/ug-api.js"></script>
<script src="o/halongTheme/js/main.js"></script>
</body>
</html>
		
	

