<!DOCTYPE html>
<html class="ltr" dir="ltr" lang="vi-VN">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
        <title>Race - HALONG BAY HERITAGE MARATHON - Heritage Marathon</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="o/halongTheme/css/bootstrap.min.css" />
        <link rel="stylesheet" href="o/halongTheme/css/flaticon.css" />
        <link rel="stylesheet" href="o/halongTheme/css/slicknav.css" />
        <script>
            var mDate = new Date();
            version = mDate.getMilliseconds();
            document.write(
                "<link rel='stylesheet' href='https://halong.vietnamheritagemarathon.com/o/halongTheme/css/style.css?v=" +
                    version +
                    "'>"
            );
            document.write(
                "<link rel='stylesheet' href='https://halong.vietnamheritagemarathon.com/o/halongTheme/css/halong.css?v=" +
                    version +
                    "'>"
            );
        </script>
        <link rel="stylesheet" href="o/halongTheme/css/owl.css" />
        <link rel="stylesheet" href="o/halongTheme/css/unite-gallery.css" />

        <script src="o/halongTheme/js/jquery-1.12.4.min.js"></script>
        <script src="o/halongTheme/js/bootstrap.min.js"></script>
        <script src="o/halongTheme/js/countdown.js"></script>
        <script src="o/halongTheme/js/ug-theme-tiles.js"></script>

        <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
        <link
            data-senna-track="temporary"
            href="e4615feb-f073-c27a-0484-a80524512b94.html"
            rel="canonical"
        />
        <link
            data-senna-track="temporary"
            href="e4615feb-f073-c27a-0484-a80524512b94.html"
            hreflang="vi-VN"
            rel="alternate"
        />
        <link
            data-senna-track="temporary"
            href="en/e4615feb-f073-c27a-0484-a80524512b94.html"
            hreflang="en-US"
            rel="alternate"
        />
        <link
            data-senna-track="temporary"
            href="e4615feb-f073-c27a-0484-a80524512b94.html"
            hreflang="x-default"
            rel="alternate"
        />
        <meta property="og:locale" content="vi_VN" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:locale:alternate" content="vi_VN" />
        <meta property="og:site_name" content="HALONG BAY HERITAGE MARATHON" />
        <meta
            property="og:title"
            content="Race - HALONG BAY HERITAGE MARATHON - Heritage Marathon"
        />
        <meta property="og:type" content="website" />
        <meta
            property="og:url"
            content="https://halong.vietnamheritagemarathon.com/e4615feb-f073-c27a-0484-a80524512b94"
        />

        <link href="o/halongTheme/images/favicon.ico" rel="icon" />
        <link
            class="lfr-css-file"
            data-senna-track="temporary"
            href="o/halongTheme/css/clayc0d6.css?browserId=other&amp;themeId=halongtheme_WAR_halongTheme&amp;minifierType=css&amp;languageId=vi_VN&amp;b=7403&amp;t=1677772344000"
            id="liferayAUICSS"
            rel="stylesheet"
            type="text/css"
        />
        <link
            data-senna-track="temporary"
            href="combof29f.css?browserId=other&amp;minifierType=&amp;themeId=halongtheme_WAR_halongTheme&amp;languageId=vi_VN&amp;b=7403&amp;com_liferay_portal_search_web_search_bar_portlet_SearchBarPortlet_INSTANCE_templateSearch:%2Fcss%2Fmain.css&amp;com_liferay_product_navigation_product_menu_web_portlet_ProductMenuPortlet:%2Fcss%2Fmain.css&amp;com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet:%2Fcss%2Fmain.css&amp;com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet:%2Fcss%2Fmain.css&amp;t=1677772344000"
            id="8e6cf791"
            rel="stylesheet"
            type="text/css"
        />

        <link
            class="lfr-css-file"
            data-senna-track="temporary"
            href="o/halongTheme/css/mainc0d6.css?browserId=other&amp;themeId=halongtheme_WAR_halongTheme&amp;minifierType=css&amp;languageId=vi_VN&amp;b=7403&amp;t=1677772344000"
            id="liferayThemeCSS"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="o/commerce-frontend-js/styles/main.css"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="./o/halongTheme/css/login.css" />
        <link rel="stylesheet" href="./o/halongTheme/css/style_2.css" />
        <link rel="stylesheet" href="./o/halongTheme/css/responsive_2.css" />
    </head>

    <body>
        <header id="menu-header" class="sub-portal-header">
            <div class="header-area">
                <div class="main-header header-sticky">
                    <div class="container-fluid">
                        <div class="menu-wrapper">
                            <!-- Logo -->
                            <div class="logo" style="margin-left: 30px">
                                <a href="http://vietnamheritagemarathon.com/"
                                    ><img
                                        src="http://vietnamheritagemarathon.com/image/layout_set_logo?img_id=976690"
                                        alt="Race - HALONG BAY HERITAGE MARATHON - Heritage Marathon"
                                /></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li>
                                            <a
                                                href="http://vietnamheritagemarathon.com/home"
                                                >Trang chủ</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="https://credential.vietnamheritagemarathon.com/"
                                                >Về chúng tôi</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="http://vietnamheritagemarathon.com/races"
                                                >Các cuộc đua</a
                                            >
                                            <ul class="submenu">
                                                <li>
                                                    <a
                                                        href="http://vietnamheritagemarathon.com/hanoi"
                                                        >GIẢI MARATHON QUỐC TẾ
                                                        DI SẢN HÀ NỘI</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="http://vietnamheritagemarathon.com/halong"
                                                        >GIẢI MARATHON QUỐC TẾ
                                                        DI SẢN HẠ LONG</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="http://vietnamheritagemarathon.com/cantho"
                                                        >GIẢI MARATHON QUỐC TẾ
                                                        DI SẢN CẦN THƠ</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="http://vietnamheritagemarathon.com/vietnam-airlines"
                                                        >VIETNAM AIRLINES - RUN
                                                        FOR LOVE 2023</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a
                                                href="http://vietnamheritagemarathon.com/travel-tours"
                                                >Du lịch</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="http://vietnamheritagemarathon.com/volunteer"
                                                >Tình nguyện viên</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="http://vietnamheritagemarathon.com/blogs"
                                                >Blogs</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="http://vietnamheritagemarathon.com/contact"
                                                >Liên hệ</a
                                            >
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header Right -->
                            <div class="header-right">
                                <ul>
                                    <li>
                                        <div class="pull-right language-bar">
                                            <a
                                                href="en/e4615feb-f073-c27a-0484-a80524512b94.html"
                                                title="English"
                                                >EN</a
                                            >
                                        </div>
                                    </li>
                                    <li>
                                        <div title="Đăng nhập">
                                            <div
                                                class="portlet-boundary portlet-boundary_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_ portlet-static portlet-static-end decorate portlet-user-personal-bar"
                                                id="p_p_id_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_"
                                            >
                                                <span
                                                    id="p_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet"
                                                ></span>
                                                <span
                                                    class="sign-in text-default"
                                                    role="presentation"
                                                >
                                                    <a
                                                        href="en/e4615feb-f073-c27a-0484-a80524512b949d05.html?p_l_id=128"
                                                        class="sign-in text-default"
                                                        id="_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_qfkd____"
                                                        data-redirect="false"
                                                        ><svg
                                                            aria-hidden="true"
                                                            class="lexicon-icon lexicon-icon-user"
                                                            focusable="false"
                                                        >
                                                            <use
                                                                href="o/halongTheme/images/clay/icons.svg#user"
                                                            ></use></svg
                                                        ><span
                                                            class="taglib-icon-label"
                                                            >Đăng nhập</span
                                                        ></a
                                                    >
                                                </span>
                                            </div>
                                        </div>
                                        <!--<div class="sign_in">
									<div class="menuText">
										<a href="https://halong.vietnamheritagemarathon.com/c/portal/login" rel="nofollow" data-redirect="false" id="sign_in" class="sign_in_custom" ">
											<span class="flaticon-user" style="margin-left: 10px;"></span>
										</a>
									</div>
								</div>-->
                                    </li>
                                    <li>
                                        <a
                                            href="http://vietnamheritagemarathon.com/search"
                                            title="Tìm kiếm"
                                        >
                                            <div
                                                class="nav-search search-switch"
                                            >
                                                <span
                                                    class="flaticon-search"
                                                ></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--BEGIN SUB MENU-->
        <header id="sub-menu-header">
            <div class="header-area">
                <div class="main-header header-sticky">
                    <div class="container-fluid">
                        <!--BEGIN SUB MENU-->
                        <div class="menu-wrapper">
                            <!-- Logo -->
                            <div class="logo" style="margin-left: 30px">
                                <a
                                    href="index.html"
                                    title="HALONG BAY HERITAGE MARATHON"
                                >
                                    <img
                                        src="image/layout_set_logoac7e.png?img_id=40654&amp;t=1702083699630"
                                        alt=""
                                    />
                                </a>
                            </div>
                            <!-- Sub-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav class="sub-nav">
                                    <ul id="sub-navigation">
                                        <li class="">
                                            <a
                                                href="en/home.html"
                                                class="text-white"
                                                >TRANG CHỦ</a
                                            >
                                        </li>
                                        <li class="">
                                            <a
                                                href="en/overview.html"
                                                class="text-white"
                                                >TỔNG QUAN</a
                                            >
                                        </li>
                                        <li class="">
                                            <a
                                                href="en/race-info.html"
                                                class="text-white"
                                                >VỀ CUỘC ĐUA</a
                                            >
                                        </li>
                                        <li class="">
                                            <a
                                                href="en/results.html"
                                                class="text-white"
                                                >KẾT QUẢ</a
                                            >
                                        </li>
                                        <li class="">
                                            <a
                                                href="en/gallery.html"
                                                class="text-white"
                                                >THƯ VIỆN</a
                                            >
                                        </li>
                                        <li class="">
                                            <a
                                                href="en/training.html"
                                                class="text-white"
                                                >LUYỆN TẬP</a
                                            >
                                        </li>
                                        <li class="">
                                            <a
                                                href="en/news.html"
                                                class="text-white"
                                                >TIN TỨC</a
                                            >
                                        </li>
                                        <li class="">
                                            <a
                                                href="en/charity.html"
                                                class="text-white"
                                                >TỪ THIỆN</a
                                            >
                                        </li>
                                        <li class="">
                                            <a
                                                href="en/sponsor-expo.html"
                                                class="text-white"
                                                >TÀI TRỢ VÀ TRIỂN LÃM</a
                                            >
                                        </li>
                                        <li class="">
                                            <a
                                                href="en/policy.html"
                                                class="text-white"
                                                >CHÍNH SÁCH</a
                                            >
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header Right -->
                            <div class="header-right">
                                <div class="register">
                                    <a
                                        href="https://halong.vietnamheritagemarathon.com/registration"
                                        >ĐĂNG KÝ</a
                                    >
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div
                                class="sub_mobile_menu d-block d-lg-none"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->
        <!-- Page Content-->
        <main>
            <section class="user-profile ng-scope my-profile-container">
                <div class="contain-wrapper_g event-register-wrapper ng-scope">
                    <div class="container">
                        <div class="text-center">
                            <h3 class="section-title">Đăng ký sự kiện</h3>
                            <h4>
                                <a class="text-secondary" href="#">BIEN HOA HALF MARATHON 2024</a>
                            </h4>
                            <p class="text-center">
                                <a href="#" class="btn btn-default btn-large secondary">Cá nhân &nbsp;
                                    <i class="fa fa-user" aria-hidden="true"></i> 
                                </a>
                                <a href="#" class="btn btn-outline blue">Đăng ký nhóm &nbsp;
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </a>
                            </p>
                            <div class="progress-steps">
                                <div class="step-info active">
                                    <span class="icon icon-ticket"></span> 
                                    Chọn vé
                                </div>
                                <span
                                    class="step-divider step-divider_down"
                                ></span>
                                <div
                                    class="step-info active"
                                >
                                    <span class="icon icon-file"></span> Người
                                    mua
                                </div>
                                <span
                                    class="step-divider step-divider_up"
                                ></span>
                                <div
                                    class="step-info active"
                                >
                                    <span class="icon icon-file"></span> Người
                                    tham gia
                                </div>
                                <span
                                    class="step-divider step-divider_up"
                                ></span>
                                <div
                                    class="step-info active"
                                >
                                    <span class="icon icon-wallet"></span> Thanh
                                    toán
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container margin-t">
                        
                        <!-- thanh toan -->
                        <div class="ng-scope">
                            <div class="pay-step">
                                <form name="payForm" novalidate="" class="ng-dirty ng-valid-parse ng-valid ng-valid-required">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <div class="block-content">
                                                <p class="text-bold text-bigger">
                                                    Chọn phương thức thanh toán
                                                </p>
                                                <div class="form-group pay-container">
                                                    <label class="radio-container">
                                                        <img
                                                            src="./o/halongTheme/images/atmcard.png"
                                                            style="border-radius: 4px;" />
                                                        <strong>Thanh toán qua thẻ ATM nội địa</strong>
                                                        <input type="radio" value="ATMCard" name="payBank" required="" class="ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required" />
                                                        <span class="radiobtn"></span>
                                                    </label>
                                                </div>
                                                <div class="form-group pay-container">
                                                    <label class="radio-container">
                                                        <img src="./o/halongTheme/images/creditcard.png" style="border-radius: 4px;" />
                                                        <strong>Thanh toán qua thẻ tín dụng, ghi nợ (Visa/Master/JCB)</strong>
                                                        <input type="radio" value="CreditCard" name="payBank" required="" class="ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required" />
                                                        <span class="radiobtn"></span>
                                                    </label>
                                                </div>
                                                <div class="form-group pay-container">
                                                    <label class="radio-container">
                                                        <img src="../o/halongTheme/images/zalopay.png" style="border-radius: 4px;" />
                                                        <strong>Thanh toán qua ví ZaloPay</strong>
                                                        <input
                                                            type="radio"
                                                            ng-model="ctrl.joinInfo.paymentType"
                                                            value="ZALOPAY"
                                                            name="payBank"
                                                            required=""
                                                            class="ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required" />
                                                        <span class="radiobtn"></span>
                                                    </label>
                                                </div>
                                                <div class="form-group pay-container">
                                                    <label class="radio-container">
                                                        <img src="./o/halongTheme/images/qr.png" style="border-radius: 4px;" />
                                                        <strong>Chuyển khoản bằng quét QR</strong>
                                                        <input
                                                            type="radio"
                                                            ng-model="ctrl.joinInfo.paymentType"
                                                            value="QR"
                                                            name="payBank"
                                                            required=""
                                                            class="ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required" />
                                                        <span class="radiobtn"></span>
                                                    </label>
                                                    <div class="payment-help ng-hide">
                                                        Quét Mã QR từ ứng dụng
                                                        ngân hàng và ví điện tử
                                                        khác<br />
                                                        <img src="./o/halongTheme/images/qr_list.png" height="100px"/>
                                                    </div>
                                                </div>
                                                <div class="form-group pay-container active">
                                                    <label class="radio-container">
                                                        <img src="./o/halongTheme/images/installment.png" style="border-radius: 4px;" />
                                                        <strong>Thanh toán trả góp</strong>
                                                        <input
                                                            type="radio"
                                                            ng-model="ctrl.joinInfo.paymentType"
                                                            value="Installment"
                                                            name="payBank"
                                                            required=""
                                                            class="ng-untouched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required" />
                                                        <span class="radiobtn"></span>
                                                    </label>
                                                    <div class="payment-help">
                                                        Phí trả góp 3%<br />
                                                    </div>
                                                </div>
                                                <div class="form-group pay-container">
                                                    <label class="radio-container">
                                                        <img src="./o/halongTheme/images/bank.png"style="border-radius: 4px;" />
                                                        <strong>Chuyển khoản qua ngân hàng</strong>
                                                        <input
                                                            type="radio"
                                                            ng-model="ctrl.joinInfo.paymentType"
                                                            value="Bank"
                                                            name="payBank"
                                                            required=""
                                                            class="ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required" />
                                                        <span class="radiobtn"></span>
                                                    </label>
                                                    <div class="bank-info ng-hide">
                                                        <p> Cú pháp chuyển khoản:
                                                            <i>Mã đơn hàng_Họ tên_Số điện thoại</i>
                                                        </p>
                                                        <p>
                                                            <img
                                                                src="https://timve365.vn/uploads/f_64010e22d88ad94fff925b43/asia-commercial-bank-logo-svg-2023861142.png"
                                                                width="122"
                                                                height="48"
                                                            />
                                                        </p>
                                                        <p>
                                                            Ngân hàng Thương Mại
                                                            Cổ Phần Á Châu<br />
                                                            <strong>Lê Thị Trà Châu</strong><br />STK:
                                                            <strong>200849559</strong><br />Chi nhánh:
                                                            <strong>Lê Đại Hành</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="block-content order-detail">
                                                <p class="text-bold text-bigger">
                                                    Đơn hàng
                                                </p>
                                                <div class="row ng-scope">
                                                    <div class="col-flex">
                                                        <span>
                                                            <span class="text-bold text-info ng-binding">1 x KIDS RUN</span>
                                                            <span class="text-bold text-info ng-binding"></span>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="ng-binding">0đ</span>
                                                    </div>
                                                </div>
                                                <p class="text-small text-danger">
                                                    Giá vé bao gồm thuế VAT
                                                </p>
                                                <hr />
                                                <div class="row">
                                                    <strong class="col-flex">Tổng cộng</strong>
                                                    <strong class="ng-binding">0đ</strong>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <strong class="col-flex">Giảm giá</strong>
                                                    <strong class="ng-binding">0đ</strong>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <strong class="col-flex">Số tiền thanh toán</strong>
                                                    <strong class="text-secondary text-bigger ng-binding">0đ</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end thanh toan -->
                    </div>
                    <div class="form-bottom">
                        <div class="container">
                            <p
                                class="text-alert bg-danger ng-hide ng-binding"
                                style="margin-top: 0"
                            ></p>

                            <div>
                                <button
                                    class="btn btn-large btn-outline blue"
                                    style="margin-right: 50px"
                                >
                                    Quay lại
                                </button>
                                <button
                                    class="btn btn-large"
                                >
                                    <span class="ng-scope">Thanh toán</span>
                                    &nbsp;<i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer id="footer" class="py-5 bg-dark">
            <div class="footer-info">
                <h3 class="logo-text">Heritage Marathon</h3>
                <p class="copyright">
                    © Copyright 2023. Phát triển bởi DHA Vietnam
                </p>
            </div>
        </footer>

        <script src="o/halongTheme/js/jquery.slicknav.min.js"></script>
        <script src="o/halongTheme/js/home.js"></script>
        <script src="o/halongTheme/js/owl-carousel.js"></script>
        <script src="o/halongTheme/js/custom.js"></script>
        <script
            src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"
            crossorigin="anonymous"
        ></script>
        <!--MEDIA GALLERY-->
        <script src="o/halongTheme/js/unite/ug-common-libraries.js"></script>
        <script src="o/halongTheme/js/unite/ug-functions.js"></script>
        <script src="o/halongTheme/js/unite/ug-thumbsgeneral.js"></script>
        <script src="o/halongTheme/js/unite/ug-thumbsstrip.js"></script>
        <script src="o/halongTheme/js/unite/ug-touchthumbs.js"></script>
        <script src="o/halongTheme/js/unite/ug-panelsbase.js"></script>
        <script src="o/halongTheme/js/unite/ug-strippanel.js"></script>
        <script src="o/halongTheme/js/unite/ug-gridpanel.js"></script>
        <script src="o/halongTheme/js/unite/ug-thumbsgrid.js"></script>
        <script src="o/halongTheme/js/unite/ug-tiles.js"></script>
        <script src="o/halongTheme/js/unite/ug-tiledesign.js"></script>
        <script src="o/halongTheme/js/unite/ug-avia.js"></script>
        <script src="o/halongTheme/js/unite/ug-slider.js"></script>
        <script src="o/halongTheme/js/unite/ug-sliderassets.js"></script>
        <script src="o/halongTheme/js/unite/ug-touchslider.js"></script>
        <script src="o/halongTheme/js/unite/ug-zoomslider.js"></script>
        <script src="o/halongTheme/js/unite/ug-video.js"></script>
        <script src="o/halongTheme/js/unite/ug-gallery.js"></script>
        <script src="o/halongTheme/js/unite/ug-lightbox.js"></script>
        <script src="o/halongTheme/js/unite/ug-carousel.js"></script>
        <script src="o/halongTheme/js/unite/ug-api.js"></script>
    </body>
</html>
